<!-- Footer -->
<div class="wrapper row3">
  <div id="footer" class="clear">
    <!-- Section One -->
    <section class="one_quarter">
      <h2 class="title">Link Block</h2>
      <nav>
        <ul>
          <li *ngFor="let nav of navheader"><a href="#">{{nav.name}}</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Two -->
    <section class="one_quarter">
      <h2 class="title">Link Block</h2>
      <nav>
        <ul>
          <li *ngFor="let nav of navheader"><a href="#">{{nav.name}}</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Three -->
    <section class="one_quarter">
      <h2 class="title">Link Block</h2>
      <nav>
        <ul>
          <li *ngFor="let nav of navheader"><a href="#">{{nav.name}}</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Four -->
    <section class="one_quarter lastbox">
      <h2 class="title">Link Block</h2>
      <nav>
        <ul>
          <li *ngFor="let nav of navheader"><a href="#">{{nav.name}}</a></li>
        </ul>
      </nav>
    </section>
    <!-- / Section -->
  </div>
</div>